p{
	color: #c347d1;
	font: italic bold 25px Arial;
	border: 10px dashed rgb(0,200,200);
	margin: 50px;
	padding: 50px;
}
body{
	background-image: url('https://moulinduk.github.io/back.JPG');
	background-size: cover;
	background-attachment: fixed;
}
a{
	text-decoration: none;
	font: 50px 'Impact', sans-serif;
	display: inline;
	padding: 2px 10px 2px 10px;
	border: 4px solid red;
	margin: 100px 0px 0px 0px;
	border-radius: 10px;
	background: orange;
	box-shadow: 0px 0px 20px yellow;

}
.desc{
	/*clear: both;*/
	text-align: right;
	font-size: 50px;
	font-family: 'Sofia', cursive;
	color: yellow;
	text-shadow: 0px 0px 5px red;
	height: 700px;
	border: 2px solid red;
	margin-left: 400px;
	background-color: rgba(255,255,255,0.5);
}
.descP{
	width: 100%;
}
.round{
	width: 300px;
	height: 300px;
	border: 4px solid red;
	border-radius: 150px;
	box-shadow: 0px 0px 20px yellow;
	padding: 0px;
	margin: 21px;
}
.img{
	width: 350px;
	height: 700px;
	border: 2px solid rgb(171,186,171);
	float: left;
	background: rgba(171,186,171,0.5);
}
.link{
	text-align: right;
}
.details{
	font-family: 'Times New Roman', serif;
}
/*font: style weight size family;*/
/*border: size style color;*/
/*padding/margin: size color;*/
/*background: color image position/size repeat attachment;*/
/*text/box-shadow: right-shift down-shift spread color;*/
