table {
	border-collapse: collapse;
}

td {
	height: 70px;
	width: 70px;
	text-align: center;
}

.visible {
	border: 1px solid grey;
}

#b1 {
	background-color: rgba(255,0,0,70%);
}

#b28 {
	background-color: rgba(255,0,0,30%);
}

#b15 {
	background-color: rgba(0,0,255,70%);
}

#b14 {
	background-color: rgba(0,0,255,30%);
}

.locker {
	border: 2px solid black;
	width: 100px;
	text-align: center;
	padding: 10px 0px;
	/* cursor: pointer; */
}

#out {
	font-size: 50px;
	font-weight: bold;
}

#roll {
	cursor: pointer;
	background-color: #e8e4d8;
	font-weight: bold;
	color: yellow;
	text-shadow: 0px 0px 10px black;
}